#pricing{
  display: flex;
  flex-direction: column;
  background: #6696E2;
}
.pricingcontainer{

  border: 1px solid red;
  top: 2696px;
left: 532px;
width: 438px;
height: 44px;
text-align: center;
font: normal normal 600 36px/43px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.pricingimg{
  height: 2px;
  width:64px;
  background: #41D395;
}
.pricingp{
  font-size: 14px;
  font-weight: lighter;
}
.pricingtags{
  margin-top: 150px;
  border: 1px solid green;
}
.pricingtag1{
  width: 343px;
  height: 200px;
  background:#303030c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 0%;
}
.pricingh6{
  color: white;
  font-size: 20px;
}
.pricingh3{
  color: white;
  font-size:94px;
}
.pricingp{
  color: #FFFFFF;
}
